<div class="container">
    <div class="row">
        <div class="col-md-3">
            @await Component.InvokeAsync("Categories")
        </div>

        <div class="col-md-3">
            <img src="~/img/@Model.ImageUrl" class="img-fluid card-img-top" />
            <div class="card-body">
                <p class="card-title">@Model.Name</p>
                <p class="card-text">@Model.Description</p>
                <p class="card-text">@Model.Price</p>
            </div>
        </div>
    </div>
</div>







