@model eShop.webui.ViewModels.ProductViewModels
@{
    var products = Model.Products;
}


<div class="container mt-2 mb-2">
    <h1 class="fw-bold text-center">PRODUCTS</h1>
    <div class="row">
        <div class="col-md-3">
            @await Component.InvokeAsync("Categories")
        </div>

        <div class="col-md-9">
            @if (products.Count == 0)
            {
                <div class="alert alert-danger">No product</div>
            }
            else
            {

                <div class="row">
                    @foreach (var product in products)
                    {
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            @await Html.PartialAsync("_product", product)
                        </div>
                    }
                </div>

            }
        </div>
    </div>
</div>







