<header class="p-5 mb-1 bg-light rounded">
    <div class="container-fluid py-5">
        <h1 class="display-4">e shop</h1>
        <p class="lead">lorem20 ipsum dolor askj askdkdsakl kldsakl klskljg jkaga fkklrga kjl earglag rlk lkarg lag relkag a egra</p>
    </div>
</header>