<div class="card mt-2">
    <img src="@Model.ImageUrl" class="img-fluid card-img-top" />
    <div class="card-body">
        <p class="card-title">@Model.Name</p>
        <p class="card-text">@Model.Description</p>
        <p class="card-text">@Model.Price</p>
    </div>
</div>