<div class="card mt-2">
    <img src="https://cdn.thewirecutter.com/wp-content/media/2021/11/kidsheadphones-2048px-7291.jpg" class="img-fluid card-img-top" />
    <div class="card-body">
        <p class="card-title">@Model.Name</p>
        <p class="card-text">@Model.Description</p>
        <p class="card-text">@Model.Price</p>
    </div>
</div>