<a asp-controller="Product" asp-action="Detail" asp-route-id="@Model.ProductId">
    <div class="card mt-2 text-decoration-none">
        <img src="~/img/@Model.ImageUrl" class="img-fluid card-img-top" style="object-fit:cover; height:300px">
        <div class="card-body">
            <p class="card-title">@Model.Name</p>
            <p class="card-text">@Model.Description</p>
            <p class="card-text">@Model.Price</p>
        </div>
    </div>
</a>